{variables, [
  {name, "appname"}, 
  {app_dir, "."}
]}.
{dir, "{{app_dir}}/src"}.
{template, "myapp.erl",     "{{app_dir}}/src/{{name}}.erl"}.
{template, "myapp.app.src", "{{app_dir}}/src/{{name}}.app.src"}.
{template, "myapp_app.erl", "{{app_dir}}/src/{{name}}_app.erl"}.
{template, "myapp_sup.erl", "{{app_dir}}/src/{{name}}_sup.erl"}.
