{variables, [
  {name, "appname"}
]}.
{dir, "src"}.
{dir, "priv"}.
{file, "project/gitignore",       ".gitignore"}.
{file, "project/rebar.config",    "rebar.config"}.
{template, "project/Makefile",    "Makefile"}.
{template, "project/app.config",  "priv/app.config"}.
