{sys, [
    {lib_dirs, ["/tmp/release_builder/", "../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "{{name}}", "XX_GIT_TAG_XX", [
        kernel,
        stdlib,
        sasl,
        {{name}}
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "{{name}}"},
    {profile, embedded},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, hipe, [{incl_cond, exclude}]},
    {app, sasl,   [{incl_cond, include}]},
    {app, stdlib, [{incl_cond, include}]},
    {app, kernel, [{incl_cond, include}]},
    {app, {{name}}, [{incl_cond, include}]}
]}.

{target_dir, "{{name}}"}.

{overlay_vars, "vars.config"}.
{overlay, [
    {copy,       "files/erl",                     "\{\{erts_vsn\}\}/bin/erl"},
    {copy,       "files/nodetool",                "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy,       "files/{{name}}",                "bin/{{name}}"},
    {copy,       "files/{{name}}.cmd",            "bin/{{name}}.cmd"},
    {copy,       "files/start_erl.cmd",           "bin/start_erl.cmd"},
    {copy,       "files/install_upgrade.escript", "bin/install_upgrade.escript"},
    {template,   "files/vm.args",                 "releases/\{\{rel_vsn\}\}/vm.args"},
    {template,   "files/conf/app.config",         "releases/\{\{rel_vsn\}\}/app.config"},
    {template,   "files/conf/sys.config",         "releases/\{\{rel_vsn\}\}/sys.config"},
    {template,   "files/conf/extra.config",       "priv/extra.config"}
]}.
